################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Application.BookShelf.Service/.vs/Application.BookShelf/FileContentIndex
*.sqlite
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Application.BookShelf.Aplication.csproj.nuget.dgspec.json
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.AssemblyInfo.cs
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.AssemblyInfoInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.assets.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.csproj.AssemblyReference.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.GeneratedMSBuildEditorConfig.editorconfig
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/project.assets.json
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/project.nuget.cache
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Application.BookShelf.Core.csproj.nuget.dgspec.json
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.AssemblyInfo.cs
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.AssemblyInfoInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.assets.cache
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.csproj.AssemblyReference.cache
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.GeneratedMSBuildEditorConfig.editorconfig
/Application.BookShelf.Service/Application.BookShelf.Core/obj/project.assets.json
/Application.BookShelf.Service/Application.BookShelf.Core/obj/project.nuget.cache
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Application.BookShelf.Infrastructure.csproj.nuget.dgspec.json
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.AssemblyInfo.cs
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.AssemblyInfoInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.assets.cache
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.csproj.AssemblyReference.cache
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.GeneratedMSBuildEditorConfig.editorconfig
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/project.assets.json
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/project.nuget.cache
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Application.BookShelf.Repository.csproj.nuget.dgspec.json
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.AssemblyInfo.cs
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.AssemblyInfoInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.assets.cache
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.csproj.AssemblyReference.cache
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.GeneratedMSBuildEditorConfig.editorconfig
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/project.assets.json
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/project.nuget.cache
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Application.BookShelf.Services.csproj.nuget.dgspec.json
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.AssemblyInfo.cs
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.AssemblyInfoInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.assets.cache
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.csproj.AssemblyReference.cache
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.GeneratedMSBuildEditorConfig.editorconfig
/Application.BookShelf.Service/Application.BookShelf.Services/obj/project.assets.json
/Application.BookShelf.Service/Application.BookShelf.Services/obj/project.nuget.cache
/.vs/slnx.sqlite
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Aplication.deps.json
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Aplication.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Aplication.exe
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Aplication.pdb
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Core.pdb
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Infrastructure.pdb
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Repository.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Repository.pdb
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Services.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Application.BookShelf.Services.pdb
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/appsettings.json
/Application.BookShelf.Service/Application.BookShelf.Aplication/bin/Debug/net6.0/Microsoft.AspNetCore.Authentication.JwtBearer.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/.NETCoreApp,Version=v6.0.AssemblyAttributes.cs
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/Application.BookShelf.Aplication.AssemblyInfo.cs
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/Application.BookShelf.Aplication.AssemblyInfoInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/Application.BookShelf.Aplication.assets.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/Application.BookShelf.Aplication.csproj.AssemblyReference.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/Application.BookShelf.Aplication.GeneratedMSBuildEditorConfig.editorconfig
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Release/net6.0/Application.BookShelf.Aplication.GlobalUsings.g.cs
/Application.BookShelf.Service/Application.BookShelf.Core/bin/Debug/net6.0/Application.BookShelf.Core.deps.json
/Application.BookShelf.Service/Application.BookShelf.Core/bin/Debug/net6.0/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Core/bin/Debug/net6.0/Application.BookShelf.Core.pdb
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.csproj.CoreCompileInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.csproj.FileListAbsolute.txt
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.pdb
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/Application.BookShelf.Core.sourcelink.json
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/refint/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.csproj.CoreCompileInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.csproj.FileListAbsolute.txt
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.dll
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.pdb
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/Application.BookShelf.Repository.sourcelink.json
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/refint/Application.BookShelf.Repository.dll
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Core.pdb
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Infrastructure.pdb
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Repository.deps.json
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Repository.dll
/Application.BookShelf.Service/Application.BookShelf.Repository/bin/Debug/net6.0/Application.BookShelf.Repository.pdb
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.csproj.CoreCompileInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.csproj.FileListAbsolute.txt
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.dll
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.pdb
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/Application.BookShelf.Services.sourcelink.json
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/refint/Application.BookShelf.Services.dll
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.csproj.CoreCompileInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.csproj.FileListAbsolute.txt
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.pdb
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/Application.BookShelf.Infrastructure.sourcelink.json
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/refint/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/bin/Debug/net6.0/Application.BookShelf.Infrastructure.deps.json
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/bin/Debug/net6.0/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/bin/Debug/net6.0/Application.BookShelf.Infrastructure.pdb
/Application.BookShelf.Service/Application.BookShelf.Infrastructure/obj/Debug/net6.0/ref/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/apphost.exe
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.csproj.CoreCompileInputs.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.csproj.FileListAbsolute.txt
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.genruntimeconfig.cache
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.pdb
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/Application.BookShelf.Aplication.sourcelink.json
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/refint/Application.BookShelf.Aplication.dll
/Application.BookShelf.Service/.vs/Application.BookShelf/v17/DocumentLayout.json
/Application.BookShelf.Service/.vs/Application.BookShelf/v17/.suo
/Application.BookShelf.Service/Application.BookShelf.Repository/obj/Debug/net6.0/ref/Application.BookShelf.Repository.dll
/Application.BookShelf.Service/Application.BookShelf.Services/obj/Debug/net6.0/ref/Application.BookShelf.Services.dll
/Application.BookShelf.Service/Application.BookShelf.Aplication/obj/Debug/net6.0/ref/Application.BookShelf.Aplication.dll
/Application.BookShelf.Service/Application.BookShelf.Core/obj/Debug/net6.0/ref/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Core.dll
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Core.pdb
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Infrastructure.dll
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Infrastructure.pdb
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Repository.dll
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Repository.pdb
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Services.deps.json
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Services.dll
/Application.BookShelf.Service/Application.BookShelf.Services/bin/Debug/net6.0/Application.BookShelf.Services.pdb
